
.upper-bar{
    background: url("https://images5.alphacoders.com/774/thumb-1920-774369.jpg");
    width:80%;
    height:15%;
    display: inline-block; 
}
.App-logo{
    width:100px;
    height:100px;
    float:left;
    margin-top: -30px;
}
.text-bar{
    margin-right: 40px;
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
}
.upper-bar h1{
    margin-left: 20px;
    font-size: 24px;
    display: inline;
    position: relative;
    font-family: "PT Sans";
    color: #AFAFAF;
}
.upper-bar h1:hover{
color: #FFFFFF;
cursor: pointer;
text-shadow: 2px 2px 3px rgba(255,255,255,0.5) ;
}