.form{
    width:80%;
    background: url("https://images5.alphacoders.com/774/thumb-1920-774369.jpg");
    margin-left: 8.5%;
    margin-right: 10%;
    padding: 50px 30px;
}

.form label,
.form h1,
.form p{
    text-align: left;
    font-size: 1.5rem;
    font-family: 'PT Sans', sans-serif;
    color: #AFAFAF;
    margin-left: 3.13rem;
    margin-right: 3.13rem;
}
.form p{
    font-size: 1.13rem;
    line-height: 1.88rem;
    margin-bottom: 3.13rem;
}
.form a{
    color: #AFAFAF;
}
.form a:hover{
        cursor: pointer;
        color: white;
        text-shadow: 2px 2px 3px rgba(255,255,255,0.5) ;
}