.form{
    width:80%;
    float: center;
    background: url("https://images5.alphacoders.com/774/thumb-1920-774369.jpg");
    margin-left: 163px;
    margin-right: 280px;
    padding: 50px 30px;
}

.form label,h1,p{
    
    text-align: left;
    position: relative;
    font-size: 24px;
    font-family: "PT Sans";
    color: #AFAFAF;
    margin-left: 50px;
    margin-right: 50px;
}
.form p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 50px;
}
.form a{
    color: #AFAFAF;
}
.form a:hover{
        cursor: pointer;
        color: white;
        text-shadow: 2px 2px 3px rgba(255,255,255,0.5) ;
}