.image-bar{
    background: rgb(73,73,73);
background: linear-gradient(71deg, rgba(73,73,73,1) 24%, rgba(129,129,129,1) 66%, rgba(186,186,186,1) 100%);
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}
.image-bar img{
    width:400px;
    height:400px;
}
.image-bar img:hover{
    box-shadow: 0 0 10px 10px white;
}