.select{
    margin-left: 10%;}
.select label,
.select select, 
.select button{
    margin-left: 1.25rem;
    margin-top: 1.25rem;
    font-family: 'PT Sans', sans-serif;
    color: #AFAFAF;
    float: left;
    font-size: 1.25rem;
}
.select select, 
.select button {
        width: 10%;
        cursor: pointer;
        background: url('https://images5.alphacoders.com/774/thumb-1920-774369.jpg');
        text-align: center;
}
