.film{
    background: rgb(73,73,73);
    background: linear-gradient(71deg, rgba(73,73,73,1) 24%, rgba(0,0,0,1) 66%, rgba(186,186,186,1) 100%);
    width:80%;
    display: inline-block; 
}
.film h2,h1{
    text-align: left;
    margin-left: 20px;
    position: relative;
    font-family: "Lucida Console", Monaco, monospace;
    
    letter-spacing: 0.8px;
    word-spacing: 2px;
    color: #DBDBDB;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    
}
.film h2{
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 100px ;
}
.film h1{
    font-size: 20px;
    display:inline-block;
    margin-bottom: 100px;
}
.film img{
    width:20%;
    height: 20%;
    display:inline-block;
    margin-bottom: -100px;
    margin-left: -600px;
}