.film{
   background: url('https://images5.alphacoders.com/774/thumb-1920-774369.jpg');
    width:80%;
    display: inline-block; 
}
.film h2,h1{
    text-align: left;
    position: relative;
    font-family: "PT Sans";
    color: #AFAFAF;
    font-weight: 700;
    
}
.film h2{
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 100px;
}
.film h1{
    font-size: 24px;
    line-height: 50px;
    margin: 0px;
}
.film img{
    width:20%;
    height: 20%;
    float: left;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}
.film iframe{
    width: 600px;
    height:400px;
    margin-top: -150px;
}